.footer{
    background-color: $black-color;
    height: 400px;
    .grid{
        
        height: 100%;

        .fter{
            // background-color: $text-color;
            height: 50%;
            color: white;

            input{
                width: 80%;
            }
            
            button{
                width: 30%;
                border-radius: 5px;
                background-color: rgb(22, 22, 255);
                cursor: pointer;
                color: white;

                &:hover{
                    color: black;
                    background-color: white;
                }
            }
            
        }
    }
}